<!DOCTYPE html>
<html>
  <head>
    <title>log in</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>log in</h1>

    <% if (typeof error !== "undefined") { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <form action="/log-in" method="POST">
      <label for="username">username:</label>
      <input type="text" name="username" id="username" required />

      <label for="password">password:</label>
      <input type="password" name="password" id="password" required />

      <button type="submit">log in</button>
    </form>

    <p>do not have an account? <a href="/sign-up">sign up</a></p>
  </body>
</html>
