<!DOCTYPE html>
<html>
  <head>
    <title>sign up</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>register</h1>

    <% if (typeof error !== "undefined") { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <form action="/sign-up" method="POST">
      <label for="username">username:</label>
      <input type="text" name="username" id="username" required />

      <label for="password">password:</label>
      <input type="password" name="password" id="password" required />

      <label for="confirmPassword">confirm password:</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        required
      />

      <button type="submit">sign up</button>
    </form>

    <p>already have an account? <a href="/log-in">log in</a></p>
  </body>
</html>
